<h1 style="color: #3C2C6C; font-family: Alegreya Sans SC',sans-serif; font-size: 2.5em; font-weight: 600; text-transform: capitalize; line-height: 1.1em;">Monitoring and Diagnostics</h1>

    

<div class="row" style="padding-top: 20px;">
    <div class="col-md-6">

        <div class="row">

            <div class="col-md-5">
                <h6>Parameter Selection</h6>

                <form>

                    <div class="form-group row" style="margin-bottom: 0rem;">
                        <label for="colFormLabelSm" class="col-sm-8 col-form-label col-form-label-sm" style="font-size:11px; font-weight: 700;">Value</label>
                        <div class="col-sm-4">
                          <input type="text" style="padding:0px; width: 80%;" class="form-control form-control-sm" id="colFormLabelSm" placeholder="4">
                        </div>
                      </div>    
                      
                      <p></p>

                    <div class="form-group row" style="margin-bottom: 0rem;">
                        <label for="colFormLabelSm" class="col-sm-8 col-form-label col-form-label-sm" style="font-size:11px; font-weight: 700;">Load (KWh)</label>
                        <div class="col-sm-4">
                          <input type="text" style="padding:0px; width: 80%;" class="form-control form-control-sm" id="colFormLabelSm" placeholder="1">
                        </div>
                      </div>
                      <div class="form-group row" style="margin-bottom: 0rem;">
                        <label for="colFormLabelSm" class="col-sm-8 col-form-label col-form-label-sm" style="font-size:11px; font-weight: 700;">PV Output (KWh)</label>
                        <div class="col-sm-4">
                          <input type="text" style="padding:0px; width: 80%;" class="form-control form-control-sm" id="colFormLabelSm" placeholder="2">
                        </div>
                      </div>     
                      <div class="form-group row" style="margin-bottom: 0rem;">
                        <label for="colFormLabelSm" class="col-sm-8 col-form-label col-form-label-sm" style="font-size:11px; font-weight: 700;">Battery Input (KWh)</label>
                        <div class="col-sm-4">
                          <input type="text" style="padding:0px; width: 80%;" class="form-control form-control-sm" id="colFormLabelSm" placeholder="3">
                        </div>
                      </div>   
                      
                      <div class="form-group row" style="margin-bottom: 0rem;">
                        <label for="colFormLabelSm" class="col-sm-8 col-form-label col-form-label-sm" style="font-size:11px; font-weight: 700;">Battery Output (KWh)</label>
                        <div class="col-sm-4">
                          <input type="text" style="padding:0px; width: 80%;" class="form-control form-control-sm" id="colFormLabelSm" placeholder="4">
                        </div>
                      </div>
  
                      <div class="form-group row" style="margin-bottom: 0rem;">
                          <label for="colFormLabelSm" class="col-sm-8 col-form-label col-form-label-sm" style="font-size:11px; font-weight: 700;">Generator Output (kWh)</label>
                          <div class="col-sm-4">
                            <input type="text" style="padding:0px; width: 80%;" class="form-control form-control-sm" id="colFormLabelSm" placeholder="5">
                          </div>
                        </div>
                        <div class="form-group row" style="margin-bottom: 0rem;">
                          <label for="colFormLabelSm" class="col-sm-8 col-form-label col-form-label-sm" style="font-size:11px; font-weight: 700;">Excess Energy (kWh)</label>
                          <div class="col-sm-4">
                            <input type="text" style="padding:0px; width: 80%;" class="form-control form-control-sm" id="colFormLabelSm" placeholder="6">
                          </div>
                        </div>     
                        <div class="form-group row" style="margin-bottom: 0rem;">
                          <label for="colFormLabelSm" class="col-sm-8 col-form-label col-form-label-sm" style="font-size:11px; font-weight: 700;">Voltage (V)</label>
                          <div class="col-sm-4">
                            <input type="text" style="padding:0px; width: 80%;" class="form-control form-control-sm" id="colFormLabelSm" placeholder="7">
                          </div>
                        </div>   
                        
                        <div class="form-group row" style="margin-bottom: 0rem;">
                            <label for="colFormLabelSm" class="col-sm-8 col-form-label col-form-label-sm" style="font-size:11px; font-weight: 700;">Current (A)</label>
                            <div class="col-sm-4">
                              <input type="text" style="padding:0px; width: 80%;" class="form-control form-control-sm" id="colFormLabelSm" placeholder="8">
                            </div>
                          </div>  
                             
                          
                          <div class="form-group row" style="margin-bottom: 0rem;">
                            <label for="colFormLabelSm" class="col-sm-8 col-form-label col-form-label-sm" style="font-size:11px; font-weight: 700;">Frequency (Hz)</label>
                            <div class="col-sm-4">
                              <input type="text" style="padding:0px; width: 80%;" class="form-control form-control-sm" id="colFormLabelSm" placeholder="9">
                            </div>
                          </div>                          
                                                                                   
                </form>                                 
                
            </div>
            <div class="col-md-7">

                <div class="row">
                    <div class="col-md-6" style="padding-right: 0px; padding-left: 0px;">
                        <a style="width: 98%; font-weight:400;font-size:12px; font-style: normal; text-decoration: none; letter-spacing: 1px; fill: #ffffff; color: #ffffff; background-color: #AE1818; border-radius: 0% 0% 0% 0%;" href="http://ashipaelectric.com/contact-us/" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-wobble-vertical" role="button">
                            <span class="elementor-button-text">PV Online </span>
                        </a>
                    </div>
                    <div class="col-md-6" style="padding-right: 0px; padding-left: 0px;">
                        <a style="width: 98%; font-weight:400;font-size:12px; font-style: normal; text-decoration: none; line-height: 1em; letter-spacing: 1px; fill: #ffffff; color: #ffffff; background-color: #AE1818; border-radius: 0% 0% 0% 0%;" href="http://ashipaelectric.com/contact-us/" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-wobble-vertical" role="button">
                            <span class="elementor-button-text">Island Mode </span>
                        </a>
                    </div>                    
                </div>  
                <div class="row" style="margin-top: 50px;">
                    <div class="col-md-6" style="padding-right: 0px; padding-left: 0px;">
                        <a style="width: 98%; font-weight:400;font-size:12px; font-style: normal; text-decoration: none; letter-spacing: 1px; fill: #ffffff; color: #ffffff; background-color: #AE1818; border-radius: 0% 0% 0% 0%;" href="http://ashipaelectric.com/contact-us/" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-wobble-vertical" role="button">
                            <span class="elementor-button-text">ESS Charging</span>
                        </a>
                    </div>
                    <div class="col-md-6" style="padding-right: 0px; padding-left: 0px;">
                        <a style="width: 98%; font-weight:400;font-size:12px; font-style: normal; text-decoration: none; line-height: 1em; letter-spacing: 1px; fill: #ffffff; color: #ffffff; background-color: #AE1818; border-radius: 0% 0% 0% 0%;" href="http://ashipaelectric.com/contact-us/" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-wobble-vertical" role="button">
                            <span class="elementor-button-text">Gen Online </span>
                        </a>
                    </div>                    
                </div>   
                
                <div class="row" style="margin-top: 90px;">
                    <div class="col-md-6" style="padding-right: 0px; padding-left: 0px;">
                        <a style="width: 98%; font-weight:400;font-size:12px; font-style: normal; text-decoration: none; letter-spacing: 1px; fill: #ffffff; color: #ffffff; background-color: #AE1818; border-radius: 0% 0% 0% 0%;" href="http://ashipaelectric.com/contact-us/" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-wobble-vertical" role="button">
                            <span class="elementor-button-text">No Alarms</span>
                        </a>
                    </div>                   
                </div>                 

<!--
                <h6>Month to Date Cost</h6>
                
                <div class="row" style="margin-top: 55px;">
                    <div class="col-md-12" style="border-style: ridge; border-color: black; height: 70px; padding-top: 10px;"><h3>$510, 176</h3></div>  
                </div>   
-->                              



            </div>            

        </div>

    </div>
    <div class="col-md-6">

        <img src="assets/testbed.png" style="width: 100%; height: 300px;" alt="image">

    </div>
</div>


<div class="row">



    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="input-group" style='width: 50%;'>
<!--          
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="model5" ngbDatepicker #d5="ngbDatepicker"
                 [minDate]="{year: 2001, month: 1, day: 1}"
                 [maxDate]="{year: 2010, month: 12, day: 31}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d5.toggle()" type="button"></button>
          </div>
-->                  
        </div>
        <!--<span (click)="enlarge('bill')"><a style="color: #007bff; cursor: pointer; text-decoration: underline;">Enlarge</a></span>-->
      </div>
      <!--<div id="chartContainer6" style="height: 370px; width: 100%;"></div>-->
      <div id="chartContainer6" style="height: 370px; width: 100%;"></div>
         

    </div>       

</div>


<div class="row">

    <div class="col-md-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        
        <div class="input-group" style='width: 50%;'>
<!--
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="model1" ngbDatepicker #d1="ngbDatepicker"
                 [minDate]="{year: 2001, month: 1, day: 1}"
                 [maxDate]="{year: 2010, month: 12, day: 31}" (dateSelect)="onDateSelect($event)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
          </div>
-->                    
        </div>

        <!--<span (click)="enlarge('day')"><a style="color: #007bff; cursor: pointer; text-decoration: underline;">Enlarge</a></span>-->
      </div>
      <div id="chartContainer1" style="width: 100%; height: 400px;"></div> 

    </div>

    <div class="col-md-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="input-group" style='width: 50%;'>
<!--
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker"
                 [minDate]="{year: 2001, month: 1, day: 1}"
                 [maxDate]="{year: 2010, month: 12, day: 31}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
          </div>
-->
        </div>
        <!--<span (click)="enlarge('month')"><a style="color: #007bff; cursor: pointer; text-decoration: underline;">Enlarge</a></span>-->
      </div>
      <div id="chartContainer5" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>

    </div>
    
    <div class="col-md-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="input-group" style='width: 50%;'>
<!--
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="model3" ngbDatepicker #d3="ngbDatepicker"
                 [minDate]="{year: 2001, month: 1, day: 1}"
                 [maxDate]="{year: 2010, month: 12, day: 31}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button"></button>
          </div>
-->                    
        </div>
        <!--<span (click)="enlarge('generation')"><a style="color: #007bff; cursor: pointer; text-decoration: underline;">Enlarge</a></span>-->
      </div>
      <div id="chartContainer3" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>

    </div>    

</div>
