
<!--

<div class="text-center">

    <div class="text-center" style="width: 100%; max-width: 800px; padding: 15px; margin: auto;">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[0]" style="height: 500px; width: 100%;" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>10 seconds between slides...</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[1]" style="height: 500px; width: 100%;" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h3>No mouse events...</h3>
                <p>This carousel doesn't pause or resume on mouse events</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]" style="height: 500px; width: 100%;"  alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>No keyboard...</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[3]" style="height: 500px; width: 100%;" alt="Random fourth slide">
              </div>
              <div class="carousel-caption">
                <h3>And no wrap after last slide.</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
          </ngb-carousel>    
    </div>
    
    <div style="width: 100%; max-width: 420px; padding: 15px; margin: auto;">
        <h1 class="display-4">Welcome</h1>
        <p>Are you a customer or an operator?</p>
    
        <button class="btn btn-lg btn-block" type="button" (click)="customers()">Customer</button>
        <button class="btn btn-lg btn-block" type="button" (click)="operators()">Operator</button>     
    </div>    

</div>


<section class="elementor-element elementor-element-391f5b8 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="391f5b8" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-3e772c0 elementor-column elementor-col-100 elementor-top-column" data-id="3e772c0" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-76379ee elementor-widget elementor-widget-shortcode" data-id="76379ee" data-element_type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
					<div class="elementor-shortcode"><div role="form" class="wpcf7" id="wpcf7-f270-p13-o1" lang="en" dir="ltr">
<div class="screen-reader-response" aria-live="polite"></div>
<form action="/contact-us/#wpcf7-f270-p13-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="270">
<input type="hidden" name="_wpcf7_version" value="5.1.9">
<input type="hidden" name="_wpcf7_locale" value="en">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f270-p13-o1">
<input type="hidden" name="_wpcf7_container_post" value="13">
</div>
<p><span class="wpcf7-form-control-wrap FirstName"><input type="text" name="FirstName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name*"></span><br>
<span class="wpcf7-form-control-wrap LastName"><input type="text" name="LastName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name*"></span><br>
<span class="wpcf7-form-control-wrap EmailAddress"><input type="email" name="EmailAddress" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Address*"></span><br>
<span class="wpcf7-form-control-wrap YourMessage"><textarea name="YourMessage" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Message*"></textarea></span><br>
<input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></p>
<div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div></form></div></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
		
		
		
		
		
<section class="elementor-element elementor-element-410e942 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="410e942" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-ea98e79 elementor-column elementor-col-20 elementor-inner-column" data-id="ea98e79" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-35a7953 elementor-view-framed elementor-shape-circle elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="35a7953" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i aria-hidden="true" class="fas fa-briefcase"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span>Intial Discussion</span>
				</h3>
								<p class="elementor-icon-box-description">Our clients reach out to us through various means.  Within 48 hours, we will respond and schedule an initial discussion.  During this discussion, we will seek a clear picture of project scope and expectations.</p>
							</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-c29d552 elementor-column elementor-col-20 elementor-inner-column" data-id="c29d552" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-093c0d8 elementor-view-framed elementor-shape-circle elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="093c0d8" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i aria-hidden="true" class="far fa-list-alt"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span>Audit</span>
				</h3>
								<p class="elementor-icon-box-description">Our team of experts will visit potential project site along with clients to assess the project in order to prepare high level quotation</p>
							</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-b8ddf4a elementor-column elementor-col-20 elementor-inner-column" data-id="b8ddf4a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-692c6ef elementor-view-framed elementor-shape-circle elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="692c6ef" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i aria-hidden="true" class="fas fa-draw-polygon"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span>Detailed Design</span>
				</h3>
								<p class="elementor-icon-box-description">After receiving a purchase order and clear signal to proceed, we begin detailed design and work closely with our client throughout the process to ensure that their problem is thoroughly addressed.</p>
							</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-7375080 elementor-column elementor-col-20 elementor-inner-column" data-id="7375080" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-a608309 elementor-view-framed elementor-shape-circle elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="a608309" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i aria-hidden="true" class="fas fa-project-diagram"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span>Project Execution</span>
				</h3>
								<p class="elementor-icon-box-description">Once the solution has been vetted and approved by our client, we will then mobilize our project execution team to implement the project according to plan. Once complete, we will commission the project along with our client and hand over after they are satisfied.</p>
							</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-830ca98 elementor-column elementor-col-20 elementor-inner-column" data-id="830ca98" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-c1172fa elementor-view-framed elementor-shape-circle elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="c1172fa" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i aria-hidden="true" class="fas fa-broadcast-tower"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span>Feedback</span>
				</h3>
								<p class="elementor-icon-box-description">We will work with all stakeholders to obtain feedback on the entire process in order to capture lessons learned so that we can continue to provide superior services to our clients.</p>
							</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>	


<section class="elementor-element elementor-element-410e942 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="410e942" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-ea98e79 elementor-column elementor-col-33 elementor-inner-column" data-id="ea98e79" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-35a7953 elementor-view-framed elementor-shape-circle elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="35a7953" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i aria-hidden="true" class="fas fa-briefcase"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span>Intial Discussion</span>
				</h3>
								<p class="elementor-icon-box-description">Our clients reach out to us through various means.  Within 48 hours, we will respond and schedule an initial discussion.  During this discussion, we will seek a clear picture of project scope and expectations.</p>
							</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-c29d552 elementor-column elementor-col-33 elementor-inner-column" data-id="c29d552" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-093c0d8 elementor-view-framed elementor-shape-circle elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="093c0d8" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i aria-hidden="true" class="far fa-list-alt"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span>Audit</span>
				</h3>
								<p class="elementor-icon-box-description">Our team of experts will visit potential project site along with clients to assess the project in order to prepare high level quotation</p>
							</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-b8ddf4a elementor-column elementor-col-33 elementor-inner-column" data-id="b8ddf4a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-692c6ef elementor-view-framed elementor-shape-circle elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="692c6ef" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i aria-hidden="true" class="fas fa-draw-polygon"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span>Detailed Design</span>
				</h3>
								<p class="elementor-icon-box-description">After receiving a purchase order and clear signal to proceed, we begin detailed design and work closely with our client throughout the process to ensure that their problem is thoroughly addressed.</p>
							</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>


						</div>
			</div>
		</section>		


<!--
<div class="row">

  <div class="col-md-12">

    <div #chart></div>
    <button (click)="setGuageValue(100)">Set value to 100</button>
    <button (click)="setGuageValue(160)">Set value to 160</button>    

  </div>

</div>

<div class="row">

<div class="col-md-12">

  <div id="chartContainer1" style="width: 100%; height: 400px;"></div>  
  <br />
  <div id="chartContainer2" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
  <br />
  <div id="chartContainer3" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
  <br />
  <div id="chartContainer4" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
  <br />
  <div id="chartContainer5" style="height: 370px; width: 100%;"></div>

</div>  

</div>
-->

