
<h1 style="margin-bottom: 20px">Customer Registration</h1>

<div class="row">
  <div class="col-md-5">
      <form id="registerFormStep1" [formGroup]="registerFormStep1" (ngSubmit)="onRegisterFormSubmitStep1(registerFormStep1)" novalidate="novalidate">
          <h4>Create a new account.</h4>
          <hr>
          <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div>

          <div class="form-group">
              <label for="username">Client Name</label>
              <input class="form-control" formControlName="companyname" type="text" data-val="true" data-val-required="The Username field is required." id="companyname" name="companyname" value="">
          </div>
          <div class="form-group">
            <label for="username">Account Number</label>
            <input class="form-control" formControlName="companycode" type="text" data-val="true" data-val-required="The Username field is required." id="companycode" name="companycode" value="">
            <span *ngIf="usernameError" class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true">
              Company code field is required.
            </span>
        </div>          
        <div class="form-group">
            <label for="state">User Role</label>
            <select class="form-control" formControlName="role" id="country" required="">
                <option value="">Choose Role...</option>
                <option value="Customer">Customer</option>
                <option value="Operator">Operator</option>
              </select> 
        </div>                                                    
          <button id="registerSubmitStep1" type="submit" class="btn btn-primary">Create Account</button>
    </form>
  </div>
 
  <div class="col-md-5 col-md-offset-2">
      <section>

      </section>
  </div>
</div>